header {
  display: flex;
  align-items: stretch;
}

header h1 {
  font-family: Gabarito;
  font-size: 3em;
}

header img {
  margin-left: auto;
  width: 55px;
  height: 55px;
}

header {
  border: 5px solid #460000;
  border-radius: 5em;
  background-color: #912727;
  color: #FFB1B8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

header img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-2px, 0);
  }

  20% {
    transform: translate(2px, 0);
  }

  30% {
    transform: translate(-2px, 0);
  }

  40% {
    transform: translate(2px, 0);
  }

  50% {
    transform: translate(-2px, 0);
  }

  60% {
    transform: translate(2px, 0);
  }

  70% {
    transform: translate(-2px, 0);
  }

  80% {
    transform: translate(2px, 0);
  }

  90% {
    transform: translate(-2px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

table {
  border-collapse: collapse;
  width: 95%;
  margin: 25px auto 0;
  border: 0.25em solid #FFB1B8;
}

th, td {
  font-family: DynaPuff;
  font-size: x-large;
  padding: 1rem;
  text-align: center;
  border: 0.25em solid #FFB1B8;
}

th {
  background-color: #ffd1b1;
  color: black;
  border: 0.25em #FFB1B8;
  height: 2.5em;
}

td {
  background-color: #b1dfff;
  border: 0.25em solid #FFB1B8;
}

table img {
  max-width: 100px;
  height: auto;
  transition: filter 0.3s;
}

table img:hover {
  filter: grayscale(90%)
}

img {
  cursor: pointer;
}

body {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to bottom right, #ff2d00, #F27625, #F2DD25, #3BF225, #25F2DD);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
