header {
  display: flex;
  align-items: stretch;
}

header h1 {
  font-family: Gabarito;
  font-size: 3em;
}

header img {
  margin-left: auto;
  width: 70px;
  height: 70px;
}

header {
  border: 5px solid #460000;
  border-radius: 5em;
  background-color: #912727;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
  margin-top: 2rem;
}

header img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-2px, 0);
  }

  20% {
    transform: translate(2px, 0);
  }

  30% {
    transform: translate(-2px, 0);
  }

  40% {
    transform: translate(2px, 0);
  }

  50% {
    transform: translate(-2px, 0);
  }

  60% {
    transform: translate(2px, 0);
  }

  70% {
    transform: translate(-2px, 0);
  }

  80% {
    transform: translate(2px, 0);
  }

  90% {
    transform: translate(-2px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

table {
  border-collapse: collapse;
  width: 95%;
  margin: 2rem auto;
}

th, td {
  font-family: DynaPuff;
  font-size: x-large;
  padding: 0.5rem;
  text-align: center;
  border: 0.25em solid #460000;
}

th {
  background-color: #ffd1b1;
}

td {
  background-color: #b1dfff;
}

table img {
  max-width: 100px;
  height: auto;
  transition: filter 0.3s;
}

table img:hover {
  filter: grayscale(90%)
}

img {
  cursor: pointer;
}

body {
  width: auto;
  background: linear-gradient(to bottom right, #ff2d00, #F27625, #F2DD25, #3BF225, #25F2DD);
  background-size: 350% 350%;
}
